[Unit]
Description="AutoSSH tunneling SSH access to the public compbox."
After=network.target

[Service]
User=autossh

Type=simple
Restart=on-failure
Environment="AUTOSSH_GATETIME=0"
EnvironmentFile=/etc/autossh.conf
ExecStart=/usr/bin/autossh -M 0 -o 'ServerAliveInterval 30' -o 'ExitOnForwardFailure yes' -N -R ${remote_ssh_port}:localhost:22 -i /home/autossh/.ssh/autossh.key autossh@${tunnel_host}

[Install]
WantedBy=multi-user.target
