[Unit]
Description=Update kiosk from git
Requires=network.target
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/sb-kiosk
ExecStart=/home/pi/sb-kiosk/device-scripts/update-config.sh
Type=oneshot

[Install]
WantedBy=graphical.target
