[Unit]
Description=Update kiosk from puppet
Requires=network.target
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/srcomp-kiosk
ExecStart=/home/pi/srcomp-kiosk/scripts/update
User=pi
Type=oneshot
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
